<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
<h2>글 작성</h2>
<form action="/board/save" method="post">
    <div class="form-group">
        <label for="boardWriter">Writer:</label>
        <input type="text" class="form-control" name="boardWriter" id="boardWriter">
    </div>
    <div class="form-group">
        <label for="boardPass">Pass:</label>
        <input type="text" class="form-control" name="boardPass" id="boardPass">
    </div>
    <div class="form-group">
        <label for="boardTitle">Title:</label>
        <input type="text" class="form-control" name="boardTitle" id="boardTitle">
    </div>
    <div class="form-group">
        <label for="boardContents">Contents:</label>
        <textarea class="form-control" name="boardContents" id="boardContents" cols="30" rows="10"></textarea>
    </div>
    <div class="form-group">
        <label for="boardFile">File:</label>
        <input type="file" class="form-control" name="boardFile" id="boardFile">
    </div>
    <button type="submit" class="btn btn-primary">글 작성</button>
</form>
</body>
</html>